.App {
  background-image: url("/public/shubham-dhage-mjl0yIdSi18-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}